<!-- 

<div class="jumbotron vertical-center">
  <div class="container">

    <div class="login-card">
      <div class="card-body">
        <h4 class="card-title text-center login-card-title">Log in</h4>
        <p class="card-text text-center login-card-text">
          Connect with the teachers around you or share your knowledges
        </p>
      </div>
    </div>

    <form class="w-100 p-3" class="form-inline" action="/auth" method="post">

      <label class="sr-only" for="email">Email</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text atsign">@</div>
        </div>
        <input class="form-control form-control-lg" type="text" name="email" class="form-control" id="email" placeholder="email">
      </div>

      <label class="sr-only" for="password">Password</label>
      <input type="password" name="password" class="form-control mb-2 mr-sm-2 form-control-lg" id="password"  placeholder="password">

      <button type="submit" class="btn btn-primary mb-2">Connect</button>
    </form>
    <p class="login-card-text">Don't have an account yet? Just <a href="/auth/signup">Sign up</a></p>
  </div>
</div>
 -->

<div class="container fullwith fullheight">
  <div class="row fullwith fullheight justify-content-center">
      <form class="text-center p-5 col-12" action="/auth" method="post">
          <div class="avatar align-items-center">
            <img src="/images/login.jpg" alt="">
          </div>
          <p class="h4 mb-4 mt-4">Log in</p>
          <!-- Email -->
          <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
          <!-- Password -->
          <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
      
          <!-- Sign in button -->
          <button class="btn btn-info btn-block my-4" type="submit">Log in</button>
      
          <!-- Register -->
          <p>Not a member?
              <a href="/auth/signup">Sign up</a>
          </p>
      
          <!-- Social login -->
          <p>or sign in with:</p>
      
          <a type="button" class="light-blue-text mx-2">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a type="button" class="light-blue-text mx-2">
              <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="light-blue-text mx-2">
              <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="light-blue-text mx-2">
              <i class="fab fa-github"></i>
          </a>
      
      </form>
  </div>
</div>